<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Restaurants Lists</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
    </head>
    <body>
        <!--NAV BAR -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Restaurant Lists</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/lists">Lists <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        </nav>
        <main class="container" role="main">
            {{{body}}}
        </main>
         <footer class="footer">
            <div class="container">
                <p>Created by: Hilary Dreikorn &amp; Matthew Esqueda, 2018</p>
            </div>
        </footer>
       <script src="/script.js"></script>
    </body>
</html>