<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Restaurants Lists</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
    </head>
    <body>
       {{{body}}}
       <script src="/script.js"></script>
    </body>
</html>