<div class="container">
  <br>
  <h1>About Gastro Gnomes.</h1>
  <p>If you haven't guessed it already, Gastro Gnomes is a play on the word <i>gastronome</i>, which means someone who is a gourmet. The inpiration behind the idea came from tagging so many restraunts on instagram that have been on the list of places to go, but that never come to mind once you have time to go out and eat. The restaurant doesn't have to be super fancy, it just has to have great food!</p>
  <p>Logo images taken from free image site: pixabay.com.</p><br>
  <a href="https://imgur.com/1xftQ5t"><img src="https://i.imgur.com/1xftQ5t.png" title="source: imgur.com" /></a>
</div>
