<div class="container down row justify-content-center">
  <h1>Add New Restaurant:</h1>
  <div class="container down row justify-content-center">
    <form>
      <div class="form-group">
        <label for="rrName">Restaurant Name</label>
        <input type="text" class="form-control" id="rrName">
      </div>
      <div class="form-group">
        <label for="addr">Address</label>
        <input type="text" class="form-control" id="addr">
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">State</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>AL</option>
          <option>AK</option>
          <option>AZ</option>
          <option>AR</option>
          <option>CA</option>
          <option>...MORE TO BE ADDED...</option>
        </select>
      </div>
      <div class="form-group">
        {{!-- Reference: https://stackoverflow.com/questions/23676778/what-html5-form-attribute-should-be-used-for-a-zipcode --}}
        <label>ZIP Code</label>
        <input type="text" pattern="[0-9]{5}" class="form-control" title="Five digit zip code" />
      </div>
      <div class="form-group">
        <label for="foodType">Food Type</label>
        <input type="text" class="form-control" id="foodType">
      </div>
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>