<form>
  <div class="form-group">
    <label for="rrName">Restaurant Name</label>
    <input type="text" class="form-control" id="rrName">
  </div>
  <div class="form-group">
    <label for="addr">Address</label>
    <input type="text" class="form-control" id="addr">
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <input type="text" class="form-control" id="city">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>AL</option>
      <option>AK</option>
      <option>AZ</option>
      <option>AR</option>
      <option>CA</option>
      <option>...MORE TO BE ADDED...</option>
    </select>
  </div>
  <div class="form-group">
    <label for="foodType">City</label>
    <input type="text" class="form-control" id="foodType">
  </div>
  <button type="submit" class="btn btn-info">Submit</button>
</form>