<div class="container down row justify-content-center">
  <h1>Search for Friend to Add:</h1> <br>
  <div class="container down row justify-content-center">
    <form>
      <div class="form-group">
        <label for="friendUN">Friend's Username</label>
        <input type="text" class="form-control" id="friendUN">
      </div>
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>