<div id="img">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="container">
                    <h1 id="title">Gastro Gnomes</h1>
                    <hr>
                    {{#if loggedOut}}
                        <!--If the user is not logged in then this form will display-->
                        <form class="loginBox">
                            <!--<label for="username">Username:</label>-->
                            <input type="text" id="username" name="username" placeholder="Username">
                            <br>
                            <!--<label for="password">Password:</label>-->
                            <input type="password" id="password" name="password" placeholder="Password">
                            <br>
                            <input class="btn btn-block btn-dark" type="submit" value="Log In">
                        </form>
                    {{else}}
                        <!--If the user is logged in then this form will display-->
                        <form class="loginBox">
                            <input class="btn btn-block btn-dark" type="submit" value="Log Out">
                        </form>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
